# Check :swaymsg -t get_tree | grep "app_id"
#
# Assign workspaces

assign [app_id="foot"] 1
for_window [class="foot"] focus

assign [class="brave-browser"] 2
for_window [class="brave-browser"] focus

assign [app_id=thunar] 3
for_window [app_id=thunar] focus

# set floating (nontiling) for special apps:
for_window [class="Xsane" instance="xsane"] floating enable
for_window [app_id="pavucontrol" ] floating enable, resize set width 40 ppt height 40 ppt
for_window [class="qt5ct" instance="qt5ct"] floating enable, resize set width 60 ppt height 50 ppt
for_window [class="Bluetooth-sendto" instance="bluetooth-sendto"] floating enable

# Brave, chrome, chromium
for_window [title="Picture-in-picture"] floating enable

# Wayland default floats
for_window [app_id="org.kde.polkit-kde-authentication-agent-1"] floating enable
for_window [app_id="(pavucontrol|psensor)"] floating enable

# Inhibit idle
for_window [app_id="brave-browser"] inhibit_idle fullscreen
for_window [app_id="Chromium"] inhibit_idle fullscreen
