# Check :swaymsg -t get_tree | grep "app_id"
#
# Assign workspaces

assign [app_id="foot"] 1
for_window [app_id="foot"] focus

assign [class="Brave-browser"] 2
for_window [class="Brave-browser"] focus

assign [app_id=thunar] 3
for_window [app_id=thunar] focus

# Brave, chrome, chromium
for_window [title="Picture-in-picture"] floating enable

# Wayland default floats
for_window [app_id="org.kde.polkit-kde-authentication-agent-1"] floating enable
for_window [app_id="(pavucontrol|psensor)"] floating enable

# Inhibit idle
for_window [app_id="brave-browser"] inhibit_idle fullscreen
